.about {
    $root : &;
    margin-bottom: 180px;

    &__container {
        display: flex;
        flex-flow: column;
        margin: 0 30px;

        @include breakpoint('md') {
            flex-flow: row;
        }

        @include breakpoint('lg') {
            max-width: 1230px;
            margin: 0 auto;
        }
    }

    &__hero {
        margin-bottom: 38px;
        align-self: center;

        @include breakpoint('md') {
            margin-bottom: 0;
            margin-right: 30px;
        }

        @include breakpoint('lg') {
            margin-right: 58px;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-flow: column;

        @include breakpoint('md') {
            justify-content: center;
        }

        @include breakpoint('lg') {   
            flex: 1;
            margin-top: 40px;
        }
    }

    &__heading {
        margin-bottom: 20px;
        text-align: center;

        @include breakpoint('md') {
            text-align: left;
        }

        @include breakpoint('lg') {
            max-width: 340px;
        }
    }

    &__text {

        @include breakpoint('sm') {
            text-align: center;
            max-width: 420px;
            margin: 0 auto;
        }

        @include breakpoint('md') {
            text-align: left;
            max-width: unset;
            margin: unset;
        }

        &:first-of-type {
            margin-bottom: 20px;
        }
        &:last-of-type {
            margin-bottom: 17px;
        }    
    }

    &__cta {
        position: relative;
        display: flex;
        align-items: center;
        align-self: flex-start;
        padding-bottom: 5px;
        border-bottom: 1px solid $c-cyan;
        color: $c-cyan;
        text-decoration: none;
        font-size: 0.84rem;

        @include breakpoint('sm') {
            margin: 0 auto;
        }

        @include breakpoint('md') {
            margin: unset;
            font-size: 1.05rem;
            transition: color 250ms ease-in,
                        border-color 250ms ease-in;

            &:hover {
                color: $c-white;
                border-color: $c-white;
    
                #{$root}__cta-arrow {
                    transform-origin: center;
                    transform: rotate(180deg);
    
                    .path2 {
                        &::before {
                            color: $c-white;
                        }
                    }
                }
            }
        }

        @include breakpoint('lg') {   
            font-size: 1.17rem;
        }
    }

    &__cta-arrow {
        margin-left: 5px;
        transition: transform 0.5s;
        font-size: 1.1rem;
    }
}