.footer {
    $root: &;
    position: relative;
    background: $bg-footer;

    &__start {
        position: absolute;
        top: -208px;
        margin: 0 30px;
        padding: 46px 25px;
        border-radius: 10px;
        background: $bg-started;
        text-align: center;

        @include breakpoint('md') {
            top: -160px;
            left: 50%;
            transform: translate(-50%);
            width: calc(100% - 30px);
            margin: 0;
            max-width: 863px;
        }
    }

    &__start-heading {
        margin-bottom: 15px;

        @include breakpoint('md') {
            margin-bottom: 21px;
        }
    }

    &__start-subheading {
        margin-bottom: 15px;

        @include breakpoint('sm') {
            max-width: 690px;
            margin: 0 auto;
            margin-bottom: 39px;
        }
    }

    &__start-form {
        position: relative;

        @include breakpoint('sm') {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        @include breakpoint('md') {
            justify-content: space-between;
            max-width: 709px;
            margin: 0 auto;
        }

        &.active {
            #{$root}__start-error {
                visibility: visible;
                animation: error-shake 250ms ease-in;
            }
        }
    }

    &__start-input {
        width: 100%;
        border-radius: 30px;
        border: none;
        background: $c-white;
        padding: 15px;
        height: 48px;
        margin-bottom: 30px;

        @include breakpoint('sm') {
            max-width: 550px;
        }

        @include breakpoint('md') {
            max-width: 481px;
            margin-bottom: 0px;
            padding-left: 38px;
        }

        &::placeholder {
            font-size: 0.9rem;
            color: lighten(#000, 80);
        }
    }

    &__start-error {
        position: absolute;
        visibility: hidden;
        top: 54px;
        left: 50%;
        width: 100%;
        color: $c-red-light;
        transform: translate(-50%);
        font-size: 0.8rem;
        font-weight: 700;

        @include breakpoint('md') {
            left: 20px;
            width: unset;
            transform: none;
        }
    }

    &__start-cta {
        @include breakpoint('sm') {
            max-width: 550px;
        }
    }

    &__container {
        padding-top: 201px;
        padding-bottom: 40px;
        margin: 0 30px;
        color: $c-white;

        @include breakpoint('lg') {
            max-width: 1260px;
            margin: 0 auto;
            padding: 201px 30px 40px 30px; 
        }
    }

    &__logo {
        margin-left: 10px;
        margin-bottom: 38px;

        @include breakpoint('lg') {
            margin-left: 0;
            margin-bottom: 26px;
        }
    }

    &__content {
        display: flex;
        flex-flow: column;

        @include breakpoint('md') {
            justify-content: space-between;
            flex-flow: row;
        }
    }

    &__contact {
        margin-bottom: 62px;
        font-style: normal;

        @include breakpoint('lg') {
            flex: 2;
            display: flex;
            flex-flow: column wrap;
            height: 100px;
        }
    }

    &__contact-item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 23px;

            @include breakpoint('lg') {
                margin-bottom: 6px;
            }
        }
    }

    &__contact-icon {
        width: 30px;
        height: 30px;
        margin-right: 9px;
    }

    &__contact-text {
        font-size: 1.13rem;
        max-width: 275px;

        @include breakpoint('lg') {
            max-width: 320px;
        }
    }

    &__nav {
        margin-bottom: 79px;

        @include breakpoint('lg') {
            flex: 1;
        }
    }

    &__nav-list {
        column-count: 1;
        list-style: none;

        @include breakpoint('sm') {
            columns: 2;
        }
    }

    &__nav-item {
        &:not(:last-child) {
            margin-bottom: 17px;
        }

        &:nth-child(4) {
            margin-bottom: 49px;
        }
    }

    &__nav-link {
        color: $c-white;
        text-decoration: none;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-shadow: 0 0 0.9px $c-white, 0 0 0.9px $c-white, 0 0 0.9px $c-white;
        }
    }

    &__socials {
        display: flex;
        align-self: center;

        @include breakpoint('md') {
            align-self: unset;
        }

        @include breakpoint('lg') {
            flex: 0 0 120px;
        }
    }

    &__socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: $c-white;
        border: 1px solid $c-white;
        border-radius: 50%;
        text-decoration: none;
        transition: border-color 250ms ease-in,
                    color 250ms ease-in;

        &:not(:last-child) {
            margin-right: 11px;
        }

        &:hover {
            animation: socials-shake 300ms ease-in;
            border-color: $c-cyan;
            color: $c-cyan;
        }
    }
}