.testimonials {
    margin-bottom: 317px;

    &__container {
        display: grid;
        grid-template-columns: minmax(250px, 500px);
        justify-content: center;
        gap: 20px;
        margin: 0 47px;

        @include breakpoint('md') {
            grid-template-columns: repeat(3, minmax(220px, 500px));
        }

        @include breakpoint('lg') {
            max-width: 1150px;
            margin: 0 auto;
            gap: 50px;
        }
    }

    &__card {
        position: relative;
        background: $bg-testimonials;
        padding: 28px 21px;
        box-shadow: 5px 5px 13px rgba(255, 255, 255, 0.04);
        border-radius: 6px;

        @include breakpoint('lg') {
            padding: 30px 21px;
        }

        &:first-child {
            &::before {
                position: absolute;
                content: url('../../assets/img/bg-quotes.png');
                top: -36px;
                left: -10px;
                transform: scale(0.5);

                @include breakpoint('lg') {
                    top: -43px;
                    left: -13px;
                    transform: scale(1);
                    z-index: -1;
                }
            }
        }
    }

    &__card-text {
        margin-bottom: 18px;
    }

    &__card-user {
        display: flex;
    }

    &__card-image {
        margin-right: 7px;
        
        img {
            width: 24px;
            border-radius: 50%;
        }
    }

    &__card-desc {
        color: $c-white;
        font-size: 0.7rem;
    }
}