@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    background: $bg-main;
    font-family: $ff-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-secondary;
}

a, input, button {
    &:focus {
        outline-offset: 5px;
        outline: 1px dashed transparentize($c-cyan, 0.5);
    }
}