@keyframes header-slide {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes kv-pop {
    0% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes socials-shake {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes error-shake {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translate(-50%, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}