.h {
    color: $c-white;

    &--lg {
        font-size: 1.72rem;
        line-height: 1.5;

        @include breakpoint('md') {
            font-size: 2.2rem;
        }

        @include breakpoint('lg') {
            font-size: 2.9rem;
        }
    }

    &--md {
        font-size: 1.3rem;

        @include breakpoint('md') {
            font-size: 1.4rem;
        }
    }
}

.text {
    font-size: 1rem;
    color: $c-white;
    line-height: 1.5;

    @include breakpoint('md') {
        font-size: 1.2rem;
    }

    @include breakpoint('lg') {
        font-size: 1.44rem;
    }

    &--sm {
        font-size: 1rem;
    }
}